@use "../../../assets/scss/theme" as *;
@use "../../../assets/scss/typography" as *;
@use "../../../assets/scss/mixins" as *;

.alert {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 16px 10px;
  gap: 8px;

  &.alertNotification {
    max-width: 400px;
  }

  @each $color, $class in $status-colors {
    &.alert#{$class} {
      color: hsl(var(--#{$color}-50));
      background-image: var(--#{$color}-background-gradient);
      border: 1px solid hsla(var(--#{$color}-200), 0.4);

      .alertIcon {
        color: hsl(var(--#{$color}-400));
      }

      .alertClose {
        color: hsl(var(--#{$color}-400));
      }
    }
  }

  &Icon {
    width: 22px;
    height: 22px;
    align-self: flex-start;
  }

  &Content {
    display: flex;
    flex-direction: column;
    padding-right: 32px;
  }

  &Title {
    @include font($h5-font-size, $h5-line-height, 700, $heading-font-family);

    word-break: break-word;
  }

  &Description {
    @include font($small-font-size, $small-line-height, 400);

    word-break: break-word;
  }

  .btnClose {
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 10px;
    display: flex;
    background: none;
    padding: 2px;
    place-items: center;
  }
}
