@use "../../../assets/scss/typography" as *;
@use "../../../assets/scss/mixins" as *;

.header {
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(var(--accent-950));
  padding: 16px;

  &Logo {
    position: absolute;
    z-index: 11;
    top: 55%;
    left: 50%;
    text-decoration: none;
    border-radius: var(--border-radius);
    transform: translate(-50%, -50%);

    &:hover {
      .headerTitle {
        color: hsl(var(--accent-400));
      }
    }
  }

  &Title {
    display: flex;
    flex-direction: column;
    color: hsl(var(--accent-200));
    @include transition(color);

    &Heading {
      @include font(28, 32, 400, $main-heading-font-family);

      letter-spacing: 0.02em;
    }

    &Subheading {
      @include font(18, 22, 400, $main-heading-font-family);

      letter-spacing: -0.02em;
      margin-top: -8px;
    }
  }
}
