@use "../../assets/scss/typography" as *;
@use "../../assets/scss/mixins" as *;

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 300px;
  max-width: 500px;
  background: linear-gradient(
      160deg,
      hsl(var(--accent-800)) 0%,
      hsla(var(--accent-800), 0.4) 32.33%,
      hsla(var(--accent-800), 0.5) 64.85%,
      hsla(var(--accent-800), 0.3) 100%
    ),
    hsl(var(--black));
  border: 1px solid hsla(var(--accent-200), 0.4);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 5px 10px -10px hsl(var(--accent-50));
  transform: translate(-50%, -50%);

  &.wide {
    width: 90%;
    max-width: 90%;
  }

  & > div:not(:last-child) {
    padding-bottom: 10px;
  }

  & > div:first-of-type.modalBody {
    padding-top: 5px;
  }

  & > div + div {
    padding-top: 10px;
  }

  &Header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .modalClose {
    position: absolute;
    top: 21px;
    right: 15px;
    padding: 2px;
  }

  &Title {
    @include font($h4-font-size, $h4-line-height, 700, $heading-font-family);
    color: hsl(var(--accent-50));
  }

  &Body {
    @include font($small-font-size, $small-line-height);
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(var(--accent-50));
  }

  &Footer {
  }

  &Backdrop {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    background-color: hsla(var(--accent-950), 0.3);
    transform: translate(-50%, -50%);
  }
}
