@layer components {
  /* BREADCRUMBS */
  .breadcrumbs {
    @apply w-full mb-4;

    &-list {
      @apply flex flex-nowrap overflow-x-auto gap-2;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &-item {
      @apply relative;

      &:not(:first-of-type) {
        .breadcrumbs-link {
          &::before {
            @apply absolute top-1/2 -translate-y-1/2 -left-[9px] h-2 w-2 brightness-0 invert bg-chevron-right;
          }
        }
      }

      &:last-of-type {
        .breadcrumbs-link {
          @apply pointer-events-none cursor-default text-sky-50;
        }
      }
    }

    &-link {
      @apply whitespace-nowrap p-2 text-gray-500 font-heading text-sm before:content-[""];
    }
  }

  /* HEADER */
  .header {
    @apply sticky z-20 top-0 left-0 w-full flex justify-between items-center p-4 min-h-[87px] shadow-sm bg-slate-900;

    &-logo {
      @apply absolute z-30 top-[50%] left-1/2 no-underline -translate-x-1/2 -translate-y-1/2 rounded-lg;

      &:hover,
      &:focus {
        .header-title {
          @apply text-sky-400;
        }
      }
    }

    &-title {
      @apply flex flex-col transition-colors text-sky-200;
    }

    &-heading {
      @apply tracking-tight text-2xl font-logo;
    }

    &-subheading {
      @apply tracking-tight -mt-2 font-logo text-md;
    }

    &-buttons {
      @apply flex gap-2;
    }
  }

  /* FOOTER */
  .footer {
    @apply flex justify-center items-center py-8 px-4;

    &-wrapper {
      @apply flex flex-col items-center gap-1;
    }

    &-text {
      @apply text-sky-50 text-sm;

      a {
        @apply text-sky-200;

        &:hover,
        &:focus {
          @apply text-sky-400;
        }
      }
    }
  }

  /* NAVIGATION */
  .nav {
    @apply absolute z-30 top-[80px] left-[16px] opacity-0 invisible bg-sky-900 rounded-lg;
    width: calc(100% - 32px);

    @media only screen and (min-width: 576px) {
      width: calc(50% - 32px);
    }

    @media only screen and (min-width: 768px) {
      @apply static visible opacity-100;
      width: unset;
      background: none;
    }

    &.mobile {
      @apply px-4 scale-75 translate-y-[20px] transition-all delay-300;

      &.opened {
        @apply opacity-100 visible scale-100 translate-y-0;
      }
    }

    &-list {
      @apply flex flex-col items-center gap-2;

      @media only screen and (min-width: 768px) {
        @apply flex-row;
      }
    }

    &-item {
      @apply w-1/2 text-center;

      @media only screen and (min-width: 768px) {
        width: unset;
      }
    }

    &-link {
      @apply w-full block rounded-lg no-underline px-2 text-sky-50 transition-colors;

      @media only screen and (min-width: 768px) {
        @apply inline-block p-2;
        width: unset;
      }

      &.active {
        @apply text-sky-300 hover:text-sky-400 focus:text-sky-200;
      }
    }
  }
}
