@use "../../../assets/scss/theme" as *;
@use "../../../assets/scss/mixins" as *;
@use "../../../assets/scss/typography" as *;

.btn {
  @include font($base-font-size, $base-line-height, 700);

  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  padding: 10px 20px 8px;
  gap: 4px;
  @include transition(background-color, border-color, color);

  &:disabled {
    cursor: not-allowed;
  }

  &.btnOnlyIcon {
    padding: 7px;
  }

  &.btnSmall {
    @include font($small-font-size, $small-line-height, 700);

    padding: 7.5px 15px 6px;

    &.btnOnlyIcon {
      padding: 5px;
    }
  }

  &.btnLarge {
    @include font($large-font-size, $large-line-height, 700);

    padding: 15px 35px 12px;

    &.btnOnlyIcon {
      padding: 9px;
    }
  }

  &Primary {
    color: hsl(var(--accent-50));
    background-color: hsl(var(--accent-800));
    border: none;

    @each $color, $class in $status-colors {
      &.btn#{$class} {
        color: hsl(var(--#{$color}-50));
        background-color: hsl(var(--#{$color}-800));
      }
    }

    &:not(:disabled):hover {
      background-color: hsl(var(--accent-700));

      @each $color, $class in $status-colors {
        &.btn#{$class} {
          background-color: hsl(var(--#{$color}-700));
        }
      }
    }

    &:not(:disabled):active {
      background-color: hsl(var(--accent-600));

      @each $color, $class in $status-colors {
        &.btn#{$class} {
          background-color: hsl(var(--#{$color}-600));
        }
      }
    }

    &:disabled {
      color: hsl(var(--accent-saturated-400));
      background-color: hsl(var(--accent-saturated-800));

      @each $color, $class in $status-colors {
        &.btn#{$class} {
          color: hsl(var(--#{$color}-saturated-400));
          background-color: hsl(var(--#{$color}-saturated-800));
        }
      }
    }
  }

  &Secondary {
    color: hsl(var(--accent-50));
    background-color: hsl(var(--accent-900));
    border: none;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      background-image: var(--accent-border-gradient);
      border-radius: var(--border-radius);
      inset: -1px;
    }

    @each $color, $class in $status-colors {
      &.btn#{$class} {
        color: hsl(var(--#{$color}-50));
        background-color: hsl(var(--#{$color}-900));

        &::before {
          background-image: var(--#{$color}-border-gradient);
        }
      }
    }

    &:not(:disabled):hover {
      background-color: hsl(var(--accent-800));

      @each $color, $class in $status-colors {
        &.btn#{$class} {
          background-color: hsl(var(--#{$color}-800));
        }
      }
    }

    &:not(:disabled):active {
      background-color: hsl(var(--accent-700));

      @each $color, $class in $status-colors {
        &.btn#{$class} {
          background-color: hsl(var(--#{$color}-saturated-700));
        }
      }
    }

    &:disabled {
      color: hsl(var(--accent-saturated-400));
      background-color: hsl(var(--accent-saturated-900));

      &::before {
        background-image: var(--accent-saturated-border-gradient);
      }

      @each $color, $class in $status-colors {
        &.btn#{$class} {
          color: hsl(var(--#{$color}-saturated-400));
          background-color: hsl(var(--#{$color}-saturated-900));

          &::before {
            background-image: var(--#{$color}-saturated-border-gradient);
          }
        }
      }
    }
  }

  &Tertiary {
    color: hsl(var(--accent-200));
    background-color: transparent;

    @each $color, $class in $status-colors {
      &.btn#{$class} {
        color: hsl(var(--#{$color}-200));
      }
    }

    &:not(:disabled):hover {
      background-color: hsla(var(--accent-200), 0.2);
      border-color: hsl(var(--accent-200));

      @each $color, $class in $status-colors {
        &.btn#{$class} {
          background-color: hsla(var(--#{$color}-200), 0.2);
          border-color: hsl(var(--#{$color}-200));
        }
      }
    }

    &:not(:disabled):active {
      background-color: hsl(var(--accent-900));

      @each $color, $class in $status-colors {
        &.btn#{$class} {
          background-color: hsl(var(--#{$color}-900));
        }
      }
    }

    &:disabled {
      color: hsl(var(--accent-saturated-400));
      background-color: hsl(var(--accent-saturated-900));

      @each $color, $class in $status-colors {
        &.btn#{$class} {
          color: hsl(var(--#{$color}-saturated-400));
          background-color: hsl(var(--#{$color}-saturated-900));
        }
      }
    }
  }
}
