@use "assets/scss/style" as *;
@use "assets/scss/typography" as *;
@use "assets/scss/mixins" as *;

body {
  @include font($base-font-size, $base-line-height, 400, $base-font-family);

  font-size: 16px;
  color: hsl(var(--accent-50));
  background-color: hsl(var(--accent-950));
}

.layout {
  min-height: calc(100vh - 68px);
}

a[href],
area[href] input:not(:disabled),
select:not(:disabled),
textarea:not(:disabled),
button:not(:disabled),
iframe,
[tabindex],
[contentEditable="true"] {
  &:not([tabindex="-1"]) {
    &:focus-visible {
      outline: hsl(var(--accent-50)) dashed 2px;
      outline-offset: 3px;
    }
  }
}

a {
  position: relative;
  text-decoration: none;
  color: hsl(var(--accent-200));
  @include transition(color);

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50%;
    height: 1px;
    background-color: transparent;
    transform: translate(-50%, -10px) scale(0);
    @include transition(background-color, transform);
  }

  &:hover,
  &:focus {
    color: hsl(var(--accent-400));

    &::after {
      background-color: hsl(var(--accent-400));
      transform: translate(-50%, 0) scale(1);
    }
  }
}
