@use "../../../assets/scss/typography" as *;
@use "../../../assets/scss/mixins" as *;

.breadcrumbs {
  display: flex;
  padding: 0 16px;
  gap: 8px;

  &Link {
    @include font($h6-font-size, $h6-line-height, 400, $heading-font-family);

    color: hsl(var(--accent-saturated-500));
  }

  &Item {
    position: relative;
    padding: 8px;

    &:last-of-type {
      .breadcrumbsLink {
        cursor: default;
        pointer-events: none;
        color: hsl(var(--accent-50));
      }
    }

    // &:not(:first-child):before {
    //  content: "";
    //  position: absolute;
    //  top: 50%;
    //  transform: translateY(-50%);
    //  left: -9px;
    // }
  }
}
