@use "utils" as *;
@use "typography" as *;

@mixin font($size, $lineHeight: $size, $weight: 400, $family: $base-font-family) {
  @if $family != Overpass {
    font-family: $family, sans-serif;
  }

  @if $weight != 400 {
    font-weight: $weight;
  }

  font-size: to-rem($size);
  line-height: to-rem($lineHeight);
}

@mixin transition($properties...) {
  transition-timing-function: var(--transition-timing-function);
  transition-duration: var(--transition-duration);
  transition-property: $properties;

  @media (prefers-reduced-motion) {
    transition-duration: 0.1s;
  }
}
