$main-heading-font-family: "Bebas Neue", sans-serif;
$heading-font-family: "Cairo", sans-serif;
$base-font-family: "Overpass", sans-serif;
$h1-font-size: 39;
$h1-line-height: 46;
$h2-font-size: 31;
$h2-line-height: 38;
$h3-font-size: 25;
$h3-line-height: 31;
$h4-font-size: 20;
$h4-line-height: 26;
$h5-font-size: 16;
$h5-line-height: 20;
$h6-font-size: 12;
$h6-line-height: 16;
$large-font-size: 20;
$large-line-height: 26;
$base-font-size: 16;
$base-line-height: 20;
$small-font-size: 12;
$small-line-height: 16;
